
$slider-selection-color: $brand-primary;
$slider-handle-color : #666;

.slider-track {
	@include slider_background-image(#f5f5f5, #f9f9f9, #f7f7f7);
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1));
}

.slider-selection {
	@include slider_background-image(lighten($slider-selection-color, 5), darken($slider-selection-color, 5), $slider-selection-color);
}

.slider-handle {
  background-color: $slider-handle-color;
  @include slider_background-image(lighten($slider-handle-color, 20), darken($slider-handle-color, 20), $slider-handle-color);
}

// adapt width when used in BS forms
.slider {
  .form-control-static & {
    width: 100% !important;
  }
}