$splitview-nav-length: 250px !default;
$splitview-duration: 0.2s !default;

.splitview {
	position: relative;
	overflow-x: hidden;
}

.splitview-nav {
	position: absolute;
	z-index: 2;
	top: 0;
	left: -$splitview-nav-length;
	bottom: 0;
	width: $splitview-nav-length;
	background: $gray-lighter;
	@include transition($splitview-duration linear transform);
}

.splitview-content {
	margin: 0;
}

.splitview-overlay {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgba(#000, 0.5);

	@include transition-property(opacity, width);
	@include transition-duration($splitview-duration, 0s);
	@include transition-timing-function(linear, linear);
	@include transition-delay(0s, $splitview-duration);
	opacity: 0;
	width: 0;
}

.is-splitview-nav-visible {
	>  .splitview-nav {
		@include translateX($splitview-nav-length);
	}

	> .splitview-overlay {
		@include transition-property(opacity, width);
		@include transition-duration($splitview-duration, 0s);
		@include transition-timing-function(linear, linear);
		@include transition-delay(0s, 0s);
		opacity: 1;
		width: 100%;
	}

}


@mixin splitview-responsive($bp) {
	@media (min-width: $bp) {
	.splitview-nav {
			left: 0;
			.is-splitview-nav-visible > & {
				@include translateX(0 !important);
			}
		}

		.splitview-content {
			margin-left: $splitview-nav-length;
		}

		.splitview-overlay {
			display: none;
		}
	}
}

.splitview-responsive-xs {
	@include splitview-responsive($screen-xs-min);
}

.splitview-responsive-sm {
	@include splitview-responsive($screen-sm-min);
}

.splitview-responsive-md {
	@include splitview-responsive($screen-md-min);
}

.splitview-responsive-lg {
	@include splitview-responsive($screen-lg-min);
}