$wizard-bg: #fff;

$wizard-step-bg: $gray-lighter;
$wizard-step-color: $gray-light;

$wizard-step-done-bg: lighten($brand-primary, 30);
$wizard-step-done-color: $gray-base;

$wizard-step-current-bg: $brand-primary;
$wizard-step-current-color: white;

.wizard {
	border: 3px solid $wizard-bg;
	@include border-radius(5px);
	@include box-shadow(0 0 0 1px rgba(#000, 0.15));
	position: relative;
}

.wizard-steps {
	display: table;
	padding: 0;
	margin: 0;
	width: 100%;
	background: $wizard-bg;
	overflow: hidden;
}
.wizard-step {
	display: table-cell;
	position: relative;
	border-left: 3px solid $wizard-bg;

	background: $wizard-step-bg;
	color: $wizard-step-color;

	// arrows
	padding-left: 20px;

	&:before,
	&:after {
		content: '';
		@include box-sizing(border-box);
		border: 1px solid transparent;
		border-width: 100px 20px;
		border-left-color: $wizard-bg;

		position: absolute;
		z-index: 1;
		top: 50%;
		margin-top: -100px;
		right: -40px - 3px;
	}

	&:after {
		border-left-color: $wizard-step-bg;
		right: -40px;
	}


	// done step
	&.is-done {
		background: $wizard-step-done-bg;
		color: $wizard-step-done-color;
		&:after {
			border-left-color: $wizard-step-done-bg;
		}
	}

	// current step
	&.is-current {
		background: $wizard-step-current-bg;
		color: $wizard-step-current-color;
		&:after {
			border-left-color: $wizard-step-current-bg;
		}
	}

	&:first-child {
		@include border-left-radius(5px);
		border-left: 0;
		padding-left: 0;
	}

	&:last-child {
		@include border-right-radius(5px);
	}
}

.wizard-step-content {
	display: block;
	padding: 10px;
	color: inherit;
	text-decoration: none !important;
}