//- docs
extends ./partials/base.jade

block variables
  - var activeMenuItem = 'docs';
  - var title = 'Documentation';
  - var subtitle = '';
  - var hasSideNav = true;

block menu
  ul.nav.menu
    li
      a(href="#top", data-scrollto="#top", data-scrollto-offset="80") Documentation
    li
      a(href="#core", data-scrollto="#core", data-scrollto-offset="80") Base
      ul.nav.submenu
        li: a(href="#core-intro", data-scrollto="#core-intro", data-scrollto-offset="80") Présentation
        li: a(href="#core-type", data-scrollto="#core-type", data-scrollto-offset="80") Typographie
        li: a(href="#core-button", data-scrollto="#core-button", data-scrollto-offset="80") Boutons
        li: a(href="#core-icon", data-scrollto="#core-icon", data-scrollto-offset="80") Icônes
    li
      a(href="#utilities", data-scrollto="#utilities", data-scrollto-offset="80") Utilités
      ul.nav.submenu
        li: a(href="#utilities-bg-color", data-scrollto="#utilities-bg-color", data-scrollto-offset="80") Background color
        li: a(href="#utilities-text-color", data-scrollto="#utilities-text-color", data-scrollto-offset="80") Text color
        li: a(href="#utilities-align", data-scrollto="#utilities-align", data-scrollto-offset="80") Alignement
        li: a(href="#utilities-visibility", data-scrollto="#utilities-visibility", data-scrollto-offset="80") Visibilité
        li: a(href="#utilities-clearfix", data-scrollto="#utilities-clearfix", data-scrollto-offset="80") Clearfix
        li: a(href="#utilities-spacing", data-scrollto="#utilities-spacing", data-scrollto-offset="80") Espacement
    li
      a(href="#layout", data-scrollto="#layout", data-scrollto-offset="80") Layout
      ul.nav.submenu
        li: a(href="#layout-grid", data-scrollto="#layout-grid", data-scrollto-offset="80") Grille
        li: a(href="#layout-responsive-utilities", data-scrollto="#layout-responsive-utilities", data-scrollto-offset="80") Responsive utilities
        li: a(href="#layout-off-canvas", data-scrollto="#layout-off-canvas", data-scrollto-offset="80") Off-canvas
    li
      a(href="#forms", data-scrollto="#forms", data-scrollto-offset="80") Formulaires
      ul.nav.submenu
        li: a(href="#forms-default", data-scrollto="#forms-default", data-scrollto-offset="80") Styles par défaut
        li: a(href="#forms-datepicker", data-scrollto="#forms-datepicker", data-scrollto-offset="80") Datepicker
        li: a(href="#forms-slider", data-scrollto="#forms-slider", data-scrollto-offset="80") Slider
        li: a(href="#forms-mask", data-scrollto="#forms-mask", data-scrollto-offset="80") Masques
        li: a(href="#forms-upload", data-scrollto="#forms-upload", data-scrollto-offset="80") Upload de fichiers
        li: a(href="#forms-validation", data-scrollto="#forms-validation", data-scrollto-offset="80") Validation des formulaires
    li
      a(href="#tables", data-scrollto="#tables", data-scrollto-offset="80") Tableaux
      ul.nav.submenu
        li: a(href="#tables-default", data-scrollto="#tables-default", data-scrollto-offset="80") Styles par défaut
        li: a(href="#tables-responsive", data-scrollto="#tables-responsive", data-scrollto-offset="80") Tableaux responsives
        li: a(href="#tables-interactive", data-scrollto="#tables-interactive", data-scrollto-offset="80") Tableaux interactives
    li
      a(href="#components", data-scrollto="#components", data-scrollto-offset="80") Composants
      ul.nav.submenu
        li: a(href="#components-navs", data-scrollto="#components-navs", data-scrollto-offset="80") Menus
        li: a(href="#components-navbar", data-scrollto="#components-navbar", data-scrollto-offset="80") Barre de menu
        li: a(href="#components-wizard", data-scrollto="#components-wizard", data-scrollto-offset="80") Wizard
        li: a(href="#components-breadcrumbs", data-scrollto="#components-breadcrumbs", data-scrollto-offset="80") Fils d'ariane
        li: a(href="#components-pagination", data-scrollto="#components-pagination", data-scrollto-offset="80") Paginations
        li: a(href="#components-labels", data-scrollto="#components-labels", data-scrollto-offset="80") Labels
        li: a(href="#components-badges", data-scrollto="#components-badges", data-scrollto-offset="80") Badges
        li: a(href="#components-page-header", data-scrollto="#components-page-header", data-scrollto-offset="80") Page header
        li: a(href="#components-medias", data-scrollto="#components-medias", data-scrollto-offset="80") Medias
        li: a(href="#components-progressbar", data-scrollto="#components-progressbar", data-scrollto-offset="80") Progressbar
        li: a(href="#components-lists", data-scrollto="#components-lists", data-scrollto-offset="80") Listes
        li: a(href="#components-panels", data-scrollto="#components-panels", data-scrollto-offset="80") Panneaux
        li: a(href="#components-responsive-embed", data-scrollto="#components-responsive-embed", data-scrollto-offset="80") Responsive embed
    li
      a(href="#js-components", data-scrollto="#js-components", data-scrollto-offset="80") Composants JS
      ul.nav.submenu
        li: a(href="#js-components-dropdown", data-scrollto="#js-components-dropdown", data-scrollto-offset="80") Dropdown
        li: a(href="#js-components-modal", data-scrollto="#js-components-modal", data-scrollto-offset="80") Modal
        li: a(href="#js-components-tab", data-scrollto="#js-components-tab", data-scrollto-offset="80") Tab
        li: a(href="#js-components-accordion", data-scrollto="#js-components-accordion", data-scrollto-offset="80") Accordéon
        li: a(href="#js-components-scrollspy", data-scrollto="#js-components-scrollspy", data-scrollto-offset="80") Scrollspy
        li: a(href="#js-components-affix", data-scrollto="#js-components-affix", data-scrollto-offset="80") Affix
        li: a(href="#js-components-carousel", data-scrollto="#js-components-carousel", data-scrollto-offset="80") Carousel
        li: a(href="#js-components-tooltip", data-scrollto="#js-components-tooltip", data-scrollto-offset="80") Info-bulles
        li: a(href="#js-components-popover", data-scrollto="#js-components-popover", data-scrollto-offset="80") Popover
        li: a(href="#js-components-alert", data-scrollto="#js-components-alert", data-scrollto-offset="80") Messages
        li: a(href="#js-components-smooth-scrolling", data-scrollto="#js-components-smooth-scrolling", data-scrollto-offset="80") Smooth scrolling

block content
  #top
  include partials/docs-core.jade
  include partials/docs-utilities.jade
  include partials/docs-layout.jade
  include partials/docs-forms.jade
  include partials/docs-tables.jade
  include partials/docs-components.jade
  include partials/docs-js-components.jade
  script.
    $(function(){
      // scrollspy
      $('body').scrollspy({
        target: '#sidenav',
        offset: 100
      });
    });
