//- index
extends ./partials/base.jade

block variables
  - var activeMenuItem = 'index';

block content
  h3 Présentation
  p
    | Stylebox est un framework CSS/JS basé sur <a href="http://getbootstrap.com" title="Bootstrap 3" target="_blank">Bootstrap 3</a>, associé à d'autres outils :
  ul
    li: a(href="http://fontawesome.io/", title="Font Awesome", target="_blank") Font Awesome
    li: a(href="http://eonasdan.github.io/bootstrap-datetimepicker/", title="Bootstrap 3 Datepicker", target="_blank") Bootstrap 3 Datepicker
    li: a(href="http://seiyria.com/bootstrap-slider/", title="Bootstrap Slider", target="_blank") Bootstrap Slider
    li: a(href="http://igorescobar.github.io/jQuery-Mask-Plugin/", title="jQuery Mask Plugin", target="_blank") jQuery Mask Plugin
    li: a(href="http://jqueryvalidation.org/", title="jQuery Validation Plugin", target="_blank") jQuery Validation Plugin
    li: a(href="https://datatables.net/", title="DataTables", target="_blank") DataTables