//- install
extends ./partials/base.jade

block variables
  - var activeMenuItem = 'install';
  - var title = 'Installation';
  - var subtitle = '';

block content
  p Installer avec bower :
  pre: code.
      bower install git://github.alptis.local/davidp/stylebox.git

  p Compiler les sources :
  pre: code.
    cd bower_components/stylebox
    npm install