block variables
  - var activeMenuItem = '';
  - var title = '';
  - var subtitle = '';
  - var hasSideNav = false;

doctype html
<!--[if lt IE 9]><html lang="fr" class="lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="fr" class="ie9"><![endif]-->
<!--[if !IE]><!-->
html(lang="fr")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/docs.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css')
    style.
      .token.lf:before {
        content: '';
      }
      pre[class*='language-'] > code[data-language] {
        overflow: auto;
      }
      pre[class*='language-markup'] > code[data-language]:before {
        content: 'html';
      }
      .panel-footer > pre {
        margin: -10px -15px;
        padding: 0;
      }
      .panel-footer > pre > code {
        margin: 0;
        padding: 10px 15px;
      }
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  body(class=(hasSideNav ? 'has-sidenav' : ''))
    header.header
      nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href="index.html", title="Accueil")
              i.icon.icon-paint-brush.icon-fw
              |  Stylebox
            button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#main-menu")
              span.sr-only Menu
              span.icon-bar
              span.icon-bar
              span.icon-bar
          #main-menu
            ul.nav.navbar-nav.navbar-right
              li(class=((activeMenuItem == 'install') ? "active" : ""))
                a(href="install.html", title="Installation") Installation
              li(class=((activeMenuItem == 'docs') ? "active" : ""))
                a(href="docs.html", title="Documentation") Documentation
              li(class=((activeMenuItem == 'theme') ? "active" : ""))
                a(href="theme.html", title="Thème") Theme
              li
                a(href="http://jsfiddle.net/davfront/xk1fxvth/8/", title="Testez le framework sur jsfiddle", target="_blank") Sandbox
    if hasSideNav
      nav.sidenav#sidenav
        block menu

    main.main
      #top
      header.main-header
        .content-wrapper
          h1.main-header-title #{ (title != null ) ? title : "Stylebox"}
          h2.main-header-subtitle #{ (subtitle != null ) ? subtitle : "Alptis CSS&JS framework"}
      section.main-content
        .content-wrapper
          block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js' data-manual)
    script(type="text/javascript").
      $(function(){
        $('.js-display-code').each(function(){
          $this = $(this);
          $src = $(this).find('.js-display-code-src');
          $target = $(this).find('.js-display-code-target');
          str = $src.html(); 
          str = str.replace(/[<]/g,'&lt;'); 
          indent = str.substring(0, str.indexOf('&lt;'));
          str = ( str.indexOf('&lt;') > 0) ? str.replace(new RegExp(indent, 'g'), '\n') : str;
          $target.html(str);
        });
        Prism.highlightAll();
      });
    script(src='js/docs.js')
