#core
  h2.page-header Base
  section.section#core-type
    h3 Typographie 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css#type" title="Bootstrap 3 Typography" target="_blank">Typographie Bootstrap 3</a>.
    .row
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Titres
          .panel-body.js-display-code-src
            h1 Titre h1
              small  Texte secondaire
            hr
            h2 Titre h2
              small  Texte secondaire
            hr
            h3 Titre h3
              small  Texte secondaire
            hr
            h4 Titre h4
              small  Texte secondaire
            hr
            h5 Titre h5
              small  Texte secondaire
            hr
            h6 Titre h6
              small  Texte secondaire
          .panel-footer: pre: code.language-markup.js-display-code-target
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Textes en ligne
          .panel-body.js-display-code-src
            p Texte surligné : <mark>mark</mark>
            hr
            p Texte barré : <del>del</del> ou <s>s</s>
            hr
            p Texte souligné : <u>u</u>
            hr
            p Texte gras : <strong>strong</strong> ou <b>b</b>
            hr
            p Texte italic : <em>em</em> ou <i>i</i>
            hr
            p Texte petit : <small>small</small>
          .panel-footer: pre: code.language-markup.js-display-code-target
  section.section#core-button
    h3 Boutons 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css#buttons" title="Bootstrap 3 Buttons" target="_blank">Boutons Bootstrap 3</a>.
    .row
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Styles
          .panel-body.js-display-code-src.
            <button class="btn btn-default m-b-s">Default</button>
            <button class="btn btn-primary m-b-s">Primary</button>
            <button class="btn btn-success m-b-s">Success</button>
            <button class="btn btn-info m-b-s">Info</button>
            <button class="btn btn-warning m-b-s">Warning</button>
            <button class="btn btn-danger m-b-s">Danger</button>
            <button class="btn btn-link m-b-s">Link</button>
          .panel-footer: pre: code.js-display-code-target.language-markup
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Tailles
          .panel-body.js-display-code-src.
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-default btn-lg">Large button</button>
            <hr/>
            <button type="button" class="btn btn-primary">Default button</button>
            <button type="button" class="btn btn-default">Default button</button>
            <hr/>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-default btn-sm">Small button</button>
            <hr/>
            <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
            <button type="button" class="btn btn-default btn-xs">Extra small button</button>
          .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#core-icon
    h3 Icônes 
      small
        .label.label-info Font Awesome
    p
      | Voir les 
      a(href="https://fortawesome.github.io/Font-Awesome/icons/", title="Liste des icônes", target="_blank") 605 icônes
      | , et la  
      a(href="https://fortawesome.github.io/Font-Awesome/examples/", title="Exemples", target="_blank") documentation Font-Awesome
      | .
    p.
      Le framework embarque les icônes <a href="https://fortawesome.github.io/Font-Awesome/" title="Font-Awesome" target="_blank">Font-Awesome 4.5</a> avec une syntaxe modifiée : le préfixe <code>fa-</code> est remplacé par le préfixe <code>icon-</code>.
    .row
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Icône simple
            small
              | Pour ajouter un icône, il suffit d'insérer un élément en ligne 
              code= '<span>'
              | ou
              code= '<i>'
              |  avec la classe composé du préfixe <code>icon-</code> suivi du nom de l'icône.
          .panel-body.js-display-code-src.
            <i class="icon icon-paint-brush"></i> paint-brush
          .panel-footer: pre: code.js-display-code-target.language-markup
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Couleurs
            small
              | Pour changer la couleur de l'icône, changer la propriété <code>color</code>.
          .panel-body.js-display-code-src
            <i class="icon icon-paint-brush" style="color: blue;"></i> blue<br/>
            <i class="icon icon-paint-brush text-primary"></i> primary
          .panel-footer: pre: code.js-display-code-target.language-markup
      .col-xs-12.col-md-6
        .panel.panel-default.js-display-code
          .panel-heading
            h4.panel-title Tailles
            small
              | Pour augmenter la taille de l'icône, ajouter une des classes suivantes : 
              code= 'icon-lg'
              | (+ 33%), 
              code= 'icon-2x'
              | , 
              code= 'icon-3x'
              | , 
              code= 'icon-4x'
              |  ou 
              code= 'icon-5x'
              | .
          .panel-body.js-display-code-src
            <i class="icon icon-paint-brush icon-lg"></i> icon-lg<br/>
            <i class="icon icon-paint-brush icon-2x"></i> icon-2x<br/>
            <i class="icon icon-paint-brush icon-3x"></i> icon-3x<br/>
            <i class="icon icon-paint-brush icon-4x"></i> icon-4x<br/>
            <i class="icon icon-paint-brush icon-5x"></i> icon-5x
          .panel-footer: pre: code.js-display-code-target.language-markup