#utilities
  h2.page-header Utilités
  p.
    Voir toute la documentation <a href="http://getbootstrap.com/css/#helper-classes" title="Bootstrap 3 Helper classes" target="_blank">Helper classes Bootstrap 3</a>.
  section.section#utilities-bg-color
    h3 Background color
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#helper-classes-backgrounds" title="Bootstrap 3 Contextual backgrounds" target="_blank">Contextual backgrounds Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <p class="bg-primary padding-all-medium">Lorem ipsum ... </p>
        <p class="bg-success padding-all-medium">Lorem ipsum ... </p>
        <p class="bg-info padding-all-medium">Lorem ipsum ... </p>
        <p class="bg-warning padding-all-medium">Lorem ipsum ... </p>
        <p class="bg-danger padding-all-medium">Lorem ipsum ... </p>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#utilities-text-color
    h3 Text color
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#helper-classes-colors" title="Bootstrap 3 Text colors" target="_blank">Text colors Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <p class="text-muted">Lorem ipsum ... </p>
        <p class="text-primary">Lorem ipsum ... </p>
        <p class="text-success">Lorem ipsum ... </p>
        <p class="text-info">Lorem ipsum ... </p>
        <p class="text-warning">Lorem ipsum ... </p>
        <p class="text-danger">Lorem ipsum ... </p>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#utilities-align
    h3 Alignement 
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#helper-classes-floats" title="Bootstrap 3 Quick floats" target="_blank">Quick floats Bootstrap 3</a>.
    pre: code.language-css.
      // Quick floats
      .pull-left {
        float: left !important;
      }
      .pull-right {
        float: right !important;
      }

      // Center content blocks
      .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  section.section#utilities-visibility
    h3 Visibilité
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#helper-classes-show-hide" title="Bootstrap 3 Showing and hiding content" target="_blank">Showing and hiding content Bootstrap 3</a>.
    pre: code.language-css.
      // Classes
      .show {
        display: block !important;
      }
      .hidden {
        display: none !important;
      }
      .invisible {
        visibility: hidden;
      }
  section.section#utilities-clearfix
    h3 Clearfix 
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css#helper-classes-clearfix" title="Bootstrap 3 Clearfix" target="_blank">Clearfix Bootstrap 3</a>.
    pre: code.language-css.
      // Mixin itself
      .clearfix() {
        &:before,
        &:after {
          content: " ";
          display: table;
        }
        &:after {
          clear: both;
        }
      }
  section.section#utilities-spacing
    h3 Espacements
    p.
      Les classes d'espacement permettent d'assigner des valeurs <code>margin</code> et <code>padding</code> à un élément, sur une ou plusieurs directions.
    p.
      Le nom des classes suit le format <code>{<i>property</i>}-{<i>sides</i>}-{<i>size</i>}</code>.
    p.
      Il existe : lavec une syntaxe explicite (ex: <code>.margin-top-small</code>) et une syntaxe courte (ex: <code>.m-t-s</code>).
    p.
      La chaîne <code>{<i>property</i>}</code> peut prendre les valeurs suivantes :
    ul
      li <code>margin</code> ou <code>m</code> : propriété <code>margin</code>
      li <code>padding</code> ou <code>p</code> : propriété <code>padding</code>
    p.
      La chaîne <code>{<i>sides</i>}</code> peut prendre les valeurs suivantes :
    ul
      li <code>top</code> ou <code>t</code> : direction <code>top</code>.
      li <code>bottom</code> ou <code>b</code> : direction <code>bottom</code>.
      li <code>left</code> ou <code>l</code> : direction <code>left</code>.
      li <code>right</code> ou <code>r</code> : direction <code>right</code>.
      li <code>vertical</code> ou <code>v</code> : directions <code>top</code> et <code>bottom</code>.
      li <code>horizontal</code> ou <code>h</code> : directions <code>left</code> et <code>right</code>.
      li <code>all</code> ou <code>a</code> : toutes les directions.
    p.
      La chaîne <code>{<i>size</i>}</code> peut prendre les valeurs suivantes :
    ul
      li <code>none</code> ou <code>n</code> : espacement <code>10px</code>.
      li <code>xsmall</code> ou <code>xs</code> : espacement <code>2px</code>.
      li <code>small</code> ou <code>s</code> : espacement <code>5px</code>.
      li <code>medium</code> ou <code>m</code> : espacement <code>10px</code>.
      li <code>large</code> ou <code>l</code> : espacement <code>15px</code>.
      li <code>xlarge</code> ou <code>xl</code> : espacement <code>20px</code>.
      li <code>xxlarge</code> ou <code>xxl</code> : espacement <code>30px</code>.
    p.
      Ci-dessous quelques exemples de classes :
    pre
      code.language-css.
        .m-t-n, .margin-top-none {
          margin-top: 0 !important;
        }

        .m-l-m, .margin-large-medium  {
          margin-left: 10px !important;
        }

        .p-h-xl, .padding-horizontal-xlarge  {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }

        .p-a-xxl, .padding-all-xxlarge  {
          padding-top: 30px !important;
          padding-bottom: 30px !important;
          padding-left: 30px !important;
          padding-right: 30px !important;
        }