#js-components
  h2.page-header Composants JS
  section.section#js-components-dropdown
    h3 Dropdown 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#dropdowns" title="Bootstrap 3 Dropdown" target="_blank">Dropdown Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="dropdown">
          <button id="dLabel" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target


  section.section#js-components-modal
    h3 Modal 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#modals" title="Bootstrap 3 Modal" target="_blank">Modal Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target


  section.section#js-components-tab
    h3 Tab 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#tabs" title="Bootstrap 3 Tab" target="_blank">Tab Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <ul id="myTabs" class="nav nav-tabs m-b-m" role="tablist">
          <li role="presentation" class=""><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">Home</a></li>
          <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false">Profile</a></li>
          <li role="presentation" class="dropdown active">
             <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Dropdown <span class="caret"></span></a> 
             <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
                <li class=""><a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1" aria-expanded="false">@fat</a></li>
                <li class="active"><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2" aria-expanded="true">@mdo</a></li>
             </ul>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="home" aria-labelledby="home-tab">
             <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
             <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
             <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
          </div>
          <div role="tabpanel" class="tab-pane fade active in" id="dropdown2" aria-labelledby="dropdown2-tab">
             <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
          </div>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target


  section.section#js-components-accordion
    h3 Accordéon 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#collapse" title="Bootstrap 3 Collapse" target="_blank">Collapse Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Collapsible Group Item #2
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Collapsible Group Item #3
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target


  section.section#js-components-scrollspy
    h3 Scrollspy 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#scrollspy" title="Bootstrap 3 Scrollspy" target="_blank">Scrollspy Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <nav id="navbar-example2" class="navbar navbar-default navbar-static">
          <div class="container-fluid">
            <div class="navbar-header"> <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">Project Name</a> </div>
            <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#fat">@fat</a></li>
                <li class=""><a href="#mdo">@mdo</a></li>
                <li class="dropdown">
                  <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> 
                  <ul class="dropdown-menu" aria-labelledby="navbarDrop1">
                    <li class=""><a href="#one">one</a></li>
                    <li class=""><a href="#two">two</a></li>
                    <li role="separator" class="divider"></li>
                    <li class=""><a href="#three">three</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="position: relative; height: 200px; margin-top: 10px; overflow: auto;">
          <h4 id="fat">@fat</h4>
          <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          <h4 id="mdo">@mdo</h4>
          <p>Veniam marfa mustache skateboard, adipisicing fugiat velit pitchfork beard. Freegan beard aliqua cupidatat mcsweeney's vero. Cupidatat four loko nisi, ea helvetica nulla carles. Tattooed cosby sweater food truck, mcsweeney's quis non freegan vinyl. Lo-fi wes anderson +1 sartorial. Carles non aesthetic exercitation quis gentrify. Brooklyn adipisicing craft beer vice keytar deserunt.</p>
          <h4 id="one">one</h4>
          <p>Occaecat commodo aliqua delectus. Fap craft beer deserunt skateboard ea. Lomo bicycle rights adipisicing banh mi, velit ea sunt next level locavore single-origin coffee in magna veniam. High life id vinyl, echo park consequat quis aliquip banh mi pitchfork. Vero VHS est adipisicing. Consectetur nisi DIY minim messenger bag. Cred ex in, sustainable delectus consectetur fanny pack iphone.</p>
          <h4 id="two">two</h4>
          <p>In incididunt echo park, officia deserunt mcsweeney's proident master cleanse thundercats sapiente veniam. Excepteur VHS elit, proident shoreditch +1 biodiesel laborum craft beer. Single-origin coffee wayfarers irure four loko, cupidatat terry richardson master cleanse. Assumenda you probably haven't heard of them art party fanny pack, tattooed nulla cardigan tempor ad. Proident wolf nesciunt sartorial keffiyeh eu banh mi sustainable. Elit wolf voluptate, lo-fi ea portland before they sold out four loko. Locavore enim nostrud mlkshk brooklyn nesciunt.</p>
          <h4 id="three">three</h4>
          <p>Ad leggings keytar, brunch id art party dolor labore. Pitchfork yr enim lo-fi before they sold out qui. Tumblr farm-to-table bicycle rights whatever. Anim keffiyeh carles cardigan. Velit seitan mcsweeney's photo booth 3 wolf moon irure. Cosby sweater lomo jean shorts, williamsburg hoodie minim qui you probably haven't heard of them et cardigan trust fund culpa biodiesel wes anderson aesthetic. Nihil tattooed accusamus, cred irony biodiesel keffiyeh artisan ullamco consequat.</p>
          <p>Keytar twee blog, culpa messenger bag marfa whatever delectus food truck. Sapiente synth id assumenda. Locavore sed helvetica cliche irony, thundercats you probably haven't heard of them consequat hoodie gluten-free lo-fi fap aliquip. Labore elit placeat before they sold out, terry richardson proident brunch nesciunt quis cosby sweater pariatur keffiyeh ut helvetica artisan. Cardigan craft beer seitan readymade velit. VHS chambray laboris tempor veniam. Anim mollit minim commodo ullamco thundercats. </p>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target

        
  section.section#js-components-affix
    h3 Affix 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#affix" title="Bootstrap 3 affix" target="_blank">Affix Bootstrap 3</a>.
    p.
      Le plugin <em>affix</em> ajoute ou retire la <code>position: fixed;</code> en fonction de la position du scroll vertical de la fenêtre, émulant l'effet obtenu avec la <code>position: sticky;</code>.
    .panel.panel-default
      .panel-heading
        h4.panel-title Exemple avec data-attributs
      .panel-footer: pre: code.language-markup.
        &lt;div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
          ...
        &lt;/div>

        
  section.section#js-components-carousel
    h3 Carousel 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#carousel" title="Bootstrap 3 Carousel" target="_blank">Carousel Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner bg-primary " role="listbox">
            <div class="item p-a-xl active">
              <h1 style="text-align: center; padding: 100px 0;">
                Slide 1
              </h1>
            </div>
            <div class="item p-v-xl">
              <h1 style="text-align: center; padding: 100px 0;">
                Slide 2
              </h1>
            </div>
            <div class="item p-v-xl">
              <h1 style="text-align: center; padding: 100px 0;">
                Slide 3
              </h1>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="icon icon-chevron-left glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="icon icon-chevron-right glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target

        
  section.section#js-components-tooltip
    h3 Tooltip 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#tooltips" title="Bootstrap 3 Tooltips" target="_blank">Tooltips Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <button type="button" class="btn btn-default m-a-s" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button> 
        <button type="button" class="btn btn-default m-a-s" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Tooltip on top</button> 
        <button type="button" class="btn btn-default m-a-s" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Tooltip on bottom</button> 
        <button type="button" class="btn btn-default m-a-s" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Tooltip on right</button>

        <!-- script -->
        <script>
          $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
        </script>
      .panel-footer: pre: code.language-markup.js-display-code-target

        
  section.section#js-components-popover
    h3 Popover 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#popovers" title="Bootstrap 3 Popovers" target="_blank">Popovers Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>

        <!-- script -->
        <script>
          $(function () {
            $('[data-toggle="popover"]').popover()
          })
        </script>
      .panel-footer: pre: code.language-markup.js-display-code-target

        
  section.section#js-components-alert
    h3 Alert 
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/javascript#alerts" title="Bootstrap 3 Alerts" target="_blank">Alerts Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="alert alert-info alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
          This is a dismissable message. </div>
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button> 
          <h4><i class="icon icon-exclamation-circle icon-lg"></i> You got an error!</h4>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
          <p> <button type="button" class="btn btn-danger btn-sm">Take this action</button> <button type="button" class="btn btn-default btn-sm">Or do this</button> </p>
        </div>
      .panel-footer: pre: code.language-markup.js-display-code-target

        
  section.section#js-components-smooth-scrolling
    h3 Smooth scrolling
    p
      | Pour défiler doucement vers une ancre de la page, ajouter à un élément 
      code= '<a>'
      |  l'attribut <code>data-scroll</code> avec pour valeur l'ancre cible.
      br
      | L'attribut <code>data-scroll-offset</code> permet de spécifier un décalage en pixels avec le haut de la page.
      br
      | L'attribut <code>data-scroll-speed</code> permet de modifier la vitesse de défilement en millisecondes.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <h3 id="target1">Cible 1</h3><br/>
        <h3 id="target2">Cible 2</h3><br/>
        <a href="#" data-scrollto="#target1">Aller à cible 1</a><br/>
        <a href="#" data-scrollto="#target1" data-scrollto-offset="80">Aller à cible 1 (offset 80px)</a><br/>
        <a href="#" data-scrollto="#target2" data-scrollto-offset="80" data-scrollto-speed="0">Aller à cible 2 (offset 80px, vitesse 0ms)</a>
      .panel-footer: pre: code.js-display-code-target.language-markup
    p.
      Si les éléments cibles sont contenus dans un élément scrollable, spécifier l'id de cet élément avec l'attribut <code>data-scrollto-container</code>.<br/>
      Ex: <code>data-scrollto-container="#myContainerId"</code>
  div(style="height: 50vh;")