#forms
  h2.page-header Formulaires
  section.section#forms-default
    h3 Présentation 
      small
        .label.label-info Boostrap 3
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Champs classiques
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="TextInput">Text input</label>
              <div class="col-sm-10">
                <input type="text" id="TextInput" class="form-control" placeholder="Write some text ..." />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="Select">Select</label>
              <div class="col-sm-10">
                <select id="Select" class="form-control">
                  <option value="" selected>Choose an option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="Textarea">Textarea</label>
              <div class="col-sm-10">
                <textarea id="Textarea" class="form-control" rows="3" placeholder="Write a long text ..."></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Checkbox</label>
              <div class="col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox" id="checkbox1" value="checkbox1"> option 1
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox" id="checkbox2" value="checkbox2"> option 2
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="checkbox" id="checkbox3" value="checkbox3"> option 3
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Checkbox inline</label>
              <div class="col-sm-10">
                <label class="checkbox-inline">
                  <input type="checkbox" name="checkboxInline" id="checkboxInline1" value="checkboxInline1"> option 1
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" name="checkboxInline" id="checkboxInline2" value="checkboxInline2"> option 2
                </label>
                <label class="checkbox-inline">
                  <input type="checkbox" name="checkboxInline" id="checkboxInline3" value="checkboxInline3"> option 3
                </label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Radio</label>
              <div class="col-sm-10">
                <div class="radio">
                  <label>
                    <input type="radio" name="radio" id="radio1" value="radio1"> option 1
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="radio" id="radio2" value="radio2"> option 2
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="radio" id="radio3" value="radio3"> option 3
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Radio inline</label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="radioInline" id="radioInline1" value="radioInline1"> option 1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioInline" id="radioInline2" value="radioInline2"> option 2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="radioInline" id="radioInline3" value="radioInline3"> option 3
                </label>
              </div>
            </div>
            <hr/>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </fieldset>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#forms-datepicker
    h3 Datepicker 
      small
        .label.label-info Bootstrap 3 Datepicker
    p.
      Voir la documentation <a href="http://eonasdan.github.io/bootstrap-datetimepicker/" title="Bootstrap 3 Datepicker" target="_blank">Bootstrap 3 Datepicker</a>
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemples
        .small Initialiser les datepicker avec les data-attributs : <code>data-datetimepicker</code>, <code>data-datepicker</code> ou <code>data-timepicker</code>.
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="datepicker">Datepicker</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" data-datepicker id="datepicker" placeholder="jj/mm/aaaa">
                <label for="datepicker" class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="timepicker">Timepicker</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" data-timepicker id="timepicker" placeholder="00:00">
                <label for="timepicker" class="input-group-addon">
                  <i class="icon icon-clock-o"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="datetimepicker">Datetimepicker</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" data-datetimepicker id="datetimepicker" placeholder="jj/mm/aaaa 00:00">
                <label for="datetimepicker" class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </label>
              </div>
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemples
        .small Ajouter des options directement dans l'attribut <code>data-datetimepicker</code>, <code>data-datepicker</code> ou <code>data-timepicker</code>.
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="datepicker2">Birthday</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" data-datepicker="{ viewMode: 'years', minDate: moment('01/01/1900', 'DD/MM/YYYY'), maxDate: moment('31/12/1988', 'DD/MM/YYYY') }" id="datepicker2" placeholder="jj/mm/aaaa" >
                <label for="datepicker2" class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </label>
              </div>
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Datepicker au clic uniquement
        .small Pour afficher le datepicker uniquement au clic du logo, placer le data-attribut sur l'élément <code>.input-group</code>.
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="datepicker3">Datepicker</label>
            <div class="col-sm-10">
              <div class="input-group" data-datepicker>
                <input type="text" class="form-control" id="datepicker3" placeholder="jj/mm/aaaa">
                <label for="datepicker3" class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </label>
              </div>
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup

  section.section#forms-slider
    h3 Slider 
      small
        .label.label-info Bootstrap Slider
    p.
      Voir la documentation <a href="http://seiyria.com/bootstrap-slider/" title="Bootstrap Slider" target="_blank">Bootstrap Slider</a>
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple: slider
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="ex1Slider">Slider</label>
            <div class="col-sm-10">
              <p class="form-control-static">
                <input id="ex1Slider" type="text" data-slider data-slider-id='ex1Slider' data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
              </p>
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple : range
      .panel-body.js-display-code-src.
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="ex1Slider">Range selector</label>
            <div class="col-sm-10">
              <p class="form-control-static">
                <input id="ex2Slider" type="text" value="" data-slider data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/>
              </p>
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#forms-mask
    h3 Masques 
      small
        .label.label-info jQuery Mask Plugin
    p.
      Voir la documentation <a href="http://igorescobar.github.io/jQuery-Mask-Plugin/" title="jQuery Mask Plugin" target="_blank">jQuery Mask Plugin</a>
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <form class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Date</label>
              <input type="text" class="form-control" data-mask="00/00/0000">
            </div>
            <div class="form-group">
              <label class="control-label">Date avec datepicker</label>
              <div class="input-group" data-datepicker>
                <input type="text" class="form-control" id="datepickermask" data-mask="00/00/0000">
                <label for="datepickermask" class="input-group-addon">
                  <i class="icon icon-calendar"></i>
                </label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Téléphone</label>
              <input type="text" class="form-control" data-mask="00 00 00 00 00">
            </div>
            <div class="form-group">
              <label class="control-label">IBAN</label>
              <input type="text" class="form-control" data-mask="SS00 0000 0000 0000 0000 0000 000">
            </div>
          </div>
        </form>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#forms-upload
    h3 Upload
    include helper-alert-building.jade
  section.section#forms-validation
    h3 Validation des formulaires 
      small
        .label.label-info jQuery Validation Plugin
    p.
      Voir la documentation <a href="http://jqueryvalidation.org/" title="jQuery Validation Plugin" target="_blank">jQuery Validation Plugin</a>
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <form class="cmxform form-horizontal" id="commentForm" novalidate>
          <fieldset>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="cname">Nom <span class="text-danger">*</span></label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="cname" name="name" minlength="2" required>
              </div>
              <div class="form-error"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="cemail">E-Mail <span class="text-danger">*</span></label>
              <div class="col-sm-5">
                <input type="text" class="form-control email" id="cemail" name="email" required>
              </div>
              <div class="form-error"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="curl">URL</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="curl" name="url" >
              </div>
              <div class="form-error"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="cdate">Date de naissance</label>
              <div class="col-sm-5">
                <div class="input-group" data-datepicker>
                  <input type="text" class="form-control" id="cdate" name="date" placeholder="jj/mm/aaaa" data-mask="00/00/0000" required>
                  <label for="cdate" class="input-group-addon">
                    <i class="icon icon-calendar"></i>
                  </label>
                </div>
              </div>
              <div class="form-error"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ciban">IBAN <span class="text-danger">*</span></label>
              <div class="col-sm-5">
                <input type="text" class="form-control iban" id="ciban" name="iban" required data-mask="SS00 0000 0000 0000 0000 0000 000">
              </div>
              <div class="form-error"></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="ccomment">Commentaire <span class="text-danger">*</span></label>
              <div class="col-sm-5">
                <textarea class="form-control" id="ccomment" name="comment" required></textarea>
              </div>
              <div class="form-error"></div>
            </div>
          </fieldset>
          <div class="row">
            <p class="col-sm-5 col-xs-offset-2">
              <input class="btn btn-primary" type="submit" value="Envoyer">
            </p>
          </div>
        </form>
        <script>
          $(function(){
            $("#commentForm").validate({
              submitHandler: function() {
                alert('Le formulaire est valide.');
              }
            });
          });
        </script>
      .panel-footer: pre: code.js-display-code-target.language-markup