#layout
  h2.page-header Layout
  section.section#layout-grid
    h3 Grille
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#grid" title="Bootstrap 3 Grille" target="_blank">Grille Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.text-center.
        <div class="row">
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
          <div class="col-md-1"><div class="well well-sm">.col-md-1</div></div>
        </div>
        <div class="row">
          <div class="col-md-8"><div class="well well-sm">col-md-8</div></div>
          <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
        </div>
        <div class="row">
          <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
          <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
          <div class="col-md-4"><div class="well well-sm">.col-md-4</div></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4"><div class="well well-sm">.col-md-4 .col-md-offset-4</div></div>
        </div>
        <div class="row">
          <div class="col-md-6"><div class="well well-sm">.col-md-6</div></div>
          <div class="col-md-6"><div class="well well-sm">.col-md-6</div></div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#layout-responsive-utilities
    h3 Responsive utilities
      small
        .label.label-info Bootstrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/css/#responsive-utilities" title="Bootstrap 3 Responsive utilities" target="_blank">Responsive utilities Bootstrap 3</a>.

    p.
      Utiliser une ou plusieurs des classes suivantes pour masquer ou afficher selon la taille de la fenêtre :
    .table-responsive
      table.table.table-bordered.text-center
        thead
          tr
            td(style="width: 20%;")
            td(style="width: 20%;")
              b Extra small devices 
              br
              small Phones (<768px)
            td(style="width: 20%;")
              b Small devices 
              br
              small Tablets (≥768px)
            td(style="width: 20%;")
              b Medium devices 
              br
              small Desktops (≥992px)
            td(style="width: 20%;")
              b Large devices 
              br
              small Desktops (≥1200px)
        tbody
          tr
            td.text-left.text-danger .visible-xs-*
            td.text-success.bg-success Visible
            td.text-muted Hidden
            td.text-muted Hidden
            td.text-muted Hidden
          tr
            td.text-left.text-danger .visible-sm-*
            td.text-muted Hidden
            td.text-success.bg-success Visible
            td.text-muted Hidden
            td.text-muted Hidden
          tr
            td.text-left.text-danger .visible-md-*
            td.text-muted Hidden
            td.text-muted Hidden
            td.text-success.bg-success Visible
            td.text-muted Hidden
          tr
            td.text-left.text-danger .visible-lg-*
            td.text-muted Hidden
            td.text-muted Hidden
            td.text-muted Hidden
            td.text-success.bg-success Visible
        tbody
          tr
            td.text-left.text-danger .hidden-xs
            td.text-muted Hidden
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
          tr
           td.text-left.text-danger .hidden-sm
            td.text-success.bg-success Visible
            td.text-muted Hidden
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
          tr
            td.text-left.text-danger .hidden-md
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
            td.text-muted Hidden
            td.text-success.bg-success Visible
          tr
            td.text-left.text-danger .hidden-lg
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
            td.text-success.bg-success Visible
            td.text-muted Hidden
    p.small
      <code>*</code> = <code>inline</code>, <code>block</code> ou <code>inline-block</code>.

  section.section#layout-off-canvas
    h3 Off-canvas
      small
        .label.label-info Bootstrap 3
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.p-a-n.
        <div class="splitview">
          <div class="splitview-nav">
            <ul class="nav">
              <li><a href="#" class="splitview-close">Close</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          </div>
          <div class="splitview-content p-a-xl">
            <p>
              <button class="btn btn-primary splitview-open">
                <i class="icon icon-bars"></i> 
                Menu
              </button>
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup