#components
  h2.page-header Composants
  // Jumbotron, Wells removed
  section.section#components-navs
    h3 Menus
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#nav" title="Bootstrap 3 Navs" target="_blank">Navs Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>

        <hr/>

        <!-- Pills -->
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-navbar
    h3 Barre de menu
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#navbar" title="Bootstrap 3 Navbar" target="_blank">Navbar Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-wizard
    h3 Wizard
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <nav class="wizard">
          <ul class="wizard-steps">
            <li class="wizard-step is-done">
              <a href="#" title="Etape 1" class="wizard-step-content">
                <span class="lead">Etape 1</span><br/>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
              </a>
            </li>
            <li class="wizard-step is-done">
              <a href="#" title="Etape 2" class="wizard-step-content">
                <span class="lead">Etape 2</span><br/>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
              </a>
            </li>
            <li class="wizard-step is-current">
              <span class="wizard-step-content">
                <span class="lead">Etape 3</span><br/>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
              </span>
            </li>
            <li class="wizard-step">
              <span class="wizard-step-content">
                <span class="lead">Etape 4</span><br/>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
              </span>
            </li>

            <li class="wizard-step">
              <span class="wizard-step-content">
                <span class="lead">Etape 5</span><br/>
                <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small>
              </span>
            </li>
          </ul>
        </nav>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-breadcrumbs
    h3 Fil d'ariane
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#breadcrumbs" title="Bootstrap 3 Breadcrumbs" target="_blank">Breadcrumbs Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-pagination
    h3 Pagination
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#pagination" title="Bootstrap 3 Pagination" target="_blank">Pagination Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li class="active"><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-labels
    h3 Labels
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#labels" title="Bootstrap 3 Labels" target="_blank">Labels Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-badges
    h3 Badges
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#badges" title="Bootstrap 3 Badges" target="_blank">Badges Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
        </ul>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-page-header
    h3 Page header
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#page-header" title="Bootstrap 3 Page header" target="_blank">Page header Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="page-header">
          <h1>Example page header <small>Subtext for header</small></h1>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-medias
    h3 Medias
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#thumbnails" title="Bootstrap 3 Thumbnail" target="_blank">Thumbnail Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Thumbnail
      .panel-body.js-display-code-src.
        <div class="row">
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUzMTk3YjVlMzYgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTMxOTdiNWUzNiI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p>
                          <a href="#" class="btn btn-primary" role="button">Button</a>
                          <a href="#" class="btn btn-default" role="button">Button</a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUzMTk3YjUxODggdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTMxOTdiNTE4OCI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p>
                          <a href="#" class="btn btn-primary" role="button">Button</a>
                          <a href="#" class="btn btn-default" role="button">Button</a>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                  <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUzMTk3YjFjZjIgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTMxOTdiMWNmMiI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44NTkzNzUiIHk9IjEwNS4xIj4yNDJ4MjAwPC90ZXh0PjwvZz48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                  <div class="caption">
                      <h3>Thumbnail label</h3>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                      <p>
                          <a href="#" class="btn btn-primary" role="button">Button</a>
                          <a href="#" class="btn btn-default" role="button">Button</a>
                      </p>
                  </div>
              </div>
            </div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#media" title="Bootstrap 3 Medias" target="_blank">Medias Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Medias
      .panel-body.js-display-code-src.
        <div class="media">
          <div class="media-left">
              <a href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTMxOTg3ZTE0OSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzE5ODdlMTQ5Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
              </a>
          </div>
          <div class="media-body">
              <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
          </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTMxOTg3ZTE0OSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzE5ODdlMTQ5Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTMxOTg3ZTE0OSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MzE5ODdlMTQ5Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxNC41IiB5PSIzNi41Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" data-holder-rendered="true" style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. 
            </div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-progressbar
    h3 Progress bars
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#progress" title="Bootstrap 3 Progress bars" target="_blank">Progress bars Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60%
          </div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-lists
    h3 Listes
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#list-group" title="Bootstrap 3 List group" target="_blank">List group Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="list-group">
          <a href="#" class="list-group-item active">
              <h4 class="list-group-item-heading">List group item heading</h4>
              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">List group item heading</h4>
              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
          <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading">List group item heading</h4>
              <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          </a>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-panels
    h3 Panneaux
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#panels" title="Bootstrap 3 Panels" target="_blank">Panels Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body"> Panel content </div>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup
  section.section#components-responsive-embed
    h3 Responsive embed
      small
        .label.label-info Boostrap 3
    p.
      Voir toute la documentation <a href="http://getbootstrap.com/components/#responsive-embed" title="Bootstrap 3 Responsive embed" target="_blank">Responsive embed Bootstrap 3</a>.
    .panel.panel-default.js-display-code
      .panel-heading
        h4.panel-title Exemple
      .panel-body.js-display-code-src.
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen=""></iframe>
        </div>
      .panel-footer: pre: code.js-display-code-target.language-markup