
// properties
$properties-short-key: (m, p);
$properties-long-key: (margin, padding);
$properties-value: (margin, padding);

$properties: zip(
	$properties-short-key,
	$properties-long-key,
	$properties-value
);

// directions
$directions-short-key: (t, l, r, b, h, v, a);
$directions-long-key: (top, left, right, bottom, horizontal, vertical, all);
$directions-value: ((top), (left), (right), (bottom), (left, right), (top, bottom), (left, right, top, bottom));

$directions: zip(
	$directions-short-key,
	$directions-long-key,
	$directions-value
);

// sizes
$sizes-short-key: (n , xs, s, m, l, xl, xxl);
$sizes-long-key: (none , xsmall, small, medium, large, xlarge, xxlarge);
$sizes-value: (0px, 2px, 5px, 10px, 15px, 20px, 30px);

$sizes: zip(
	$sizes-short-key,
	$sizes-long-key,
	$sizes-value
);

@each $property in $properties {
	@each $size in $sizes {
		@each $direction in $directions {

			.#{nth($property, 1)}-#{nth($direction, 1)}-#{nth($size, 1)},
			.#{nth($property, 2)}-#{nth($direction, 2)}-#{nth($size, 2)} {

				@each $dir in nth($direction, 3) {
					#{nth($property, 3)}-#{$dir}: #{nth($size, 3)} !important;
				}

			}

		}
	}
}