// Buttons
// --------------------------------------------------

.btn {
	// custom buttonstyle
	&[class*="btn-"] {
		@include box-shadow(inset 0 1px 1px rgba(#fff, 0.4));
	}
	&.btn-link {
		@include box-shadow(none);
	}

	// custom outline
	&:focus,
	&.focus {
		&,
		&:active,
		&.active {
			outline: #333 dotted 1px;
			outline-offset: 1px;
		}
	}
}


// Modal
// --------------------------------------------------

// vertically centered
.modal {
	text-align: center;
	white-space: nowrap;
	&:before {
	  content: '';
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	  margin-right: -0.25em; /* Adjusts for spacing */

	}
	&.fade {
		.modal-dialog {
			@include transition(all 0.4s);
			@include transform(translate(0) scale(0.5));
			opacity: 0;
		}
		&.in .modal-dialog {
			@include transform(translate(0) scale(1));
			opacity: 1;
		}
	}
}
.modal-dialog {
	text-align: initial;
	display: inline-block;
	vertical-align: middle;
}