
.header {

	.navbar {
		border: 0;
		margin: 0;
		color: #fff;
		background: $brand-primary;
	}

	.navbar-brand,
	.nav > li > a {
		color: #fff;
		text-transform: uppercase;

		&:hover, &:focus {
			background: none !important;
			background: rgba(#fff, 0.1) !important;
		}

	}

	.navbar-brand {
		width: $sidenav-width;
		font-size: 18px;
	}

	.nav > li.active > a {
		background: rgba(#fff, 0.1);
	}

	.navbar-inverse .navbar-nav > .open > a{
		&, &:hover, &:focus {
	    	background-color: rgba(#fff, 0.1);
		}
	}
	.navbar-inverse .navbar-toggle {
		border: 0;
	    background-color: transparent;
		&:hover {
	    	.icon-bar {
				background-color: #333;
	    	}
		}
	}


	@media (max-width : $screen-sm) {
		.navbar {
			background: darken($brand-primary, 10);
		}
		.navbar-header {
			background: $brand-primary;
		}
	}
}