
$header-height: $navbar-height;
$header-bg: $brand-primary;
$header-zindex: 200;

$sidenav-width: 200px;
$sidenav-bg: #242424;
$sidenav-zindex: 100;

html {
	overflow-x: hidden;
}

body {
	position: relative;
	height: 100%;
	padding-top: $header-height;
	overflow-x: hidden;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	background: $header-bg;
	z-index: $header-zindex;

	@include box-shadow(0 0 10px rgba(#000, 0.5));
}

.sidenav {
	display: none;
	position: fixed;
	top: $header-height;
	left: 0;
	bottom: 0;
	width: $sidenav-width;
	background: $sidenav-bg;
	z-index: $sidenav-zindex;

	@include box-shadow(0 0 10px rgba(#000, 0.85));
}

@media (min-width : $screen-sm-min) {
	body.has-sidenav {
		padding-left: $sidenav-width;
	}
	.sidenav {
		display: block;
	}
}
