
.main-footer {
	position: absolute;

	height: $footer-height;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $footer-zindex;

	display: table;
	width: 100%;
	background: $footer-bg;
	border-top: 1px solid #e0e0e0; //ie fallback
	border-top: 1px solid rgba(#000, 0.1);
}

.logo-partenaire {	
	display: table-cell;
	padding: 10px;
	width: 100px;
	vertical-align: middle;
	img {
		margin-left: 10px;
		max-height: 100%;
	}
}

.main-footer-menu {
	display: table-cell;
	padding: 0 10px;
	text-align:	right;
	vertical-align: middle;
	a {
		display: inline-block;
		margin: 5px 10px;
		font-size: 12px;
		cursor: pointer;
	}
}