
.main-header {
	position: relative;
    padding: 80px 0 40px;
    min-height: 195px;
    background-color: $brand-primary;
    @include background(linear-gradient(darken($brand-primary, 15), $brand-primary));

    color: #fff;
}

.main-header-title {
	text-transform: uppercase;
    margin: 0;
    opacity: 0.85;
}

.main-header-subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
    opacity: 0.7;
    font-weight: bold;
}

.main-baseline {
	background: $gray-lighter;
    color: $gray;
    padding: 40px 0;
}