
.content-wrapper {
	margin: 0 40px;
	max-width: 1100px;
}

.main-content {
	margin: 40px 0;
}

.section {
	margin-top: 40px;
	margin-bottom: 40px;
}

.panel-footer pre {
	margin: 0;
	padding: 0;
	border: 0;
	background: 0;
}