
// Menu
// ==============================================

.sidenav {
	overflow: auto;
	.menu {
		> li {
			overflow: hidden;
			@include transition(all 0.2s);
			> a  {
				display: block;
				padding: 15px;
				color: #fff;
				color: rgba(#fff, 0.67);
				background: none;
				cursor: pointer;
				font-size: 15px;
				text-decoration: none;
				cursor: pointer;
				@include transition(all 0.2s);
			}

			&:hover {
				background: rgba(#fff, 0.5);
				> a  {
					color: $sidenav-bg;
				}
			}

			&.active {
				background: rgba(#000, 0.5);
				> a  {
					color: $brand-primary;
				}
			}
		}
	}
}

// Submenu
// ==============================================
.nav.submenu {
	margin: -7px 0 7px;
	display: none;
	.active > & {
		display: block;
	}
	> li {
		> a {
			display: block;
			color: #fff;
			opacity: 0.5;
			padding: 2px 5px 2px 15px;
			font-size: 12px;
			background: none;

			&:before {
				content: "";
				display: inline-block;
				width: 2px;
				height: 14px;
				background: #fff;
				margin-right: 5px;
				vertical-align: middle;
				margin-top: -4px;
			}
			&:hover, &:focus {
				background: inherit;
			}
		}

		&:hover, &:focus {
			> a {
				opacity: 1;
			}
		}
		
		&.active {
			> a  {
				opacity: 1;
				color: $brand-primary;
				&:before { background: $brand-primary; }
			}
		}
	}
}


// Mobile
// ==============================================

